<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyl.mybatis.mapper.CarMapper">
    <insert id="insertBatch">
        insert into t_car
        values
        <foreach collection="cars" item="car" separator=",">
            (null,#{car.carNum},#{car.brand},#{car.guidePrice},#{car.produceTime},#{car.carType})
        </foreach>
    </insert>

    <delete id="deleteByIds2">
        delete
        from t_car
        where
        <foreach collection="ids" item="id" separator="or">
            id=#{id}
        </foreach>
    </delete>

    <delete id="deleteByIds">
        delete
        from t_car
        where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <select id="selectByChoose" resultType="Car">
        select *
        from t_car
        <where>
            <choose>
                <when test="brand!=null and brand!=''">
                    brand like "%"#{brand}"%"
                </when>
                <when test="guidePrice!=null ">
                    guide_price > #{guidePrice}
                </when>
                <otherwise>
                    car_type=#{carType}
                </otherwise>
            </choose>
        </where>
    </select>

    <update id="updateBySet">
        update t_car
        <set>
            <if test="carNum!=null and carNum!=''">
                car_num=#{carNum},
            </if>
            <if test="brand!=null and brand!=''">
                brand=#{brand},
            </if>
            <if test="guidePrice!=null">
                guide_price=#{guidePrice},
            </if>
            <if test="produceTime!=null">
                produce_time=#{produceTime},
            </if>
            <if test="carType!=null and carType!=''">
                car_type=#{carType},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateById">
        update t_car
        set car_num=#{carNum},
            brand=#{brand},
            guide_price=#{guidePrice},
            produce_time=#{produceTime},
            car_type=#{carType}
        where id = #{id}
    </update>

    <sql id="brandLike">
        brand like "%"#{brand}"%"
    </sql>

    <select id="selectByMutipleConditonsWithTrim" resultType="Car">
        select *
        from t_car
        <trim prefix="where" suffixOverrides="and|or">
            <if test="brand!=null and brand!=''">
                <!--                 brand like "%"#{brand}"%" and-->
                <include refid="brandLike"></include> and
            </if>
            <if test="guidePrice!=null">
                guide_price>#{guidePrice} and
            </if>
            <if test="carType!=null and carType!=''">
                car_type=#{carType}
            </if>
        </trim>
    </select>

    <select id="selectByMutipleConditonsWithWhere" resultType="Car">
        select *
        from t_car
        <where>
            <if test="brand!=null and brand!=''">
                <!--and brand like "%"#{brand}"%"-->
                and <include refid="brandLike"></include>
            </if>
            <if test="guidePrice!=null">
                and guide_price>#{guidePrice}
            </if>
            <if test="carType!=null and carType!=''">
                and car_type=#{carType}
            </if>
        </where>
    </select>

    <select id="selectByMutipleConditons" resultType="Car">
        select *
        from t_car
        where 1=1
        <if test="brand!=null and brand!=''">
            <!--and brand like "%"#{brand}"%"-->
          and <include refid="brandLike"></include>
        </if>
        <if test="guidePrice!=null and guidePrice!=''">
            and guide_price>#{guidePrice}
        </if>
        <if test="carType!=null and carType!=''">
            and car_type=#{carType}
        </if>
    </select>
</mapper>
