<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    bean的id和class属性:
        id属性:代表对象的唯一标识。可以看做一个人的身份证号,
        class属性:用来指定要创建的java对象的类名，这个类名必须是全限定类名(带包名)-->
    <bean id="UserBean" class="com.lyl.spring6.bean.User" />

    <bean id="UserDaoBean" class="com.lyl.spring6.dao.UserDaoImplForMySQL"/>

    <bean id="nowTime" class="java.util.Date"/>
</beans>